.dashboard-wrapper {
  background-color: #ECEEF3;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  color: black;
  min-height: 100vh;
}


.dashboard-navbar {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(163, 163, 163);
  flex-wrap: nowrap;
}

.pic {
  height: 85px;
  width: auto;
  margin-right: 15px;
}

.pic:hover {
  filter: drop-shadow(0 0 8px #ffff00);
  cursor: pointer;
}

.dashboard-navbar-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 180px;
}

.city {
  font-size: 18px;
  font-weight: bold;
}

.city:hover,
.urbancity:hover {
  color: #ffcc00;
  cursor: pointer;
}

.urbancity {
  font-size: 12px;
}

.datetime {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: #333;
  font-weight: 500;
  padding-right: 20px;
}

.time {
  font-size: 18px;
  font-weight: bold;
}

.date {
  font-size: 11px;
  color: #666;
  font-weight: bold;
}

.dashboard-navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bell,
.dots-menu {
  height: 30px;
}

.bell-button,
.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.bell-button:hover {
  filter: drop-shadow(0 0 3px #ffe600);
}

.menu-button:hover {
  filter: drop-shadow(0 0 2px #ffea00);
}

.logout-button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 8px 12px;
  margin-left: 10px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}
